.banner {
  color: $green-shiny;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
  }
  p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 0.8;
  margin-bottom: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
  }
}
